@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    list-style: none;
}

:root {
    --dark-gray: #1F1F1F;
    --light-grey: #F5F5F5;
    --light-grey-2: #CCCCCC;
    --light-grey-3: #F5F5F5;
    --white: #FFFFFF;
    --bg: #F9F8FE;
    --pink-btn: #C92071;
    --pink-hv: #991956;   
}

header{
    width: 100vw;
}

header .header-container {
    padding: 72px 100px;
}

.header1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header1 > img{
    width: 253px;
    height: 44px;
    margin-right: 27px;
    
}

header .header1 > input{
    width: 559px;
    height: 60px;
    margin-right: 48px;
    background: var(--light-grey);
    border: none;
    border-radius: 8px;
    text-indent: 24px;
    opacity: 60%;
}

.pesquisa{
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-align: left;
    color: #666666;
    font-size: 16px;
    margin-right: 30px;
}

.pesquisa:focus{
    outline: none;
    border: 2px solid var(--pink-btn)
}

.registrar{
    font-weight: 400;
    letter-spacing: 0.75px;
    font-size: 16px;
    color: #474747;
    height: 20px;
    border-bottom: 1px solid #474747;
    margin-right: 30px;
}

.registrar:hover {
    color: var(--pink-btn);
    border-bottom: 1px solid var(--pink-btn);
}

.entrar{
    width: 114px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-align: center;
    margin-right: 70px;
    background-color: var(--pink-btn);
    border: none;
    border-radius: 7px;
    color: #F5F5F5;
}

.entrar:hover {
    background-color: var(--pink-hv);
}

.entrar:active {
    background-color: var(--light-grey-2);
}

.carrinho{
    width: 24px;
    height: 24px;
}

.navbar{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 246px;
    
}

.navbar ul li a{
    font-size: 16px;
    font-weight: 400;
    margin-right: 32px;
    color: #474747;
}

.navbar a:hover {
    color: var(--pink-btn);
}

.navbar .home{
    border-bottom: 2px solid var(--pink-btn);
    color: var(--pink-btn);
}

.special-container {
    background: var(--bg);
    display: flex;
}

.special-container .special-description {
    padding: 124px 0 0 100px;
}

.special-container .special-description span {
    color: #F6AA1C;
    font-size: 16px;
    font-weight: 700;
}

.special-container .special-description h3 {
    font-size: 64px;
    font-weight: 800;
    color: var(--dark-gray);
    width: 510px;
    margin-top: 20px;
}

.special-container .special-description p {
    font-size: 18px;
    font-weight: 400;
    color: #474747;
    width: 495px;
    line-height: 34px;
    margin: 20px 0 40px;
}

.special-container .special-description a {
    padding: 14.5px 55px;
    background: var(--pink-btn);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    
}

.special-container .special-img {
    margin-left: 110px;
    position: relative;
}

.special-container .special-img .ornament {
    position: absolute;
    top: 90px
}

.collections {
    width: 100%;
    padding: 6.25rem 0;
    margin: 0 auto;
    background: var(--bg);
}

.collections h3 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-right: 50px
}

.collections .collection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    margin: 0 auto;
    
}

.collections .collection-container .collection {
    margin-right: 38px;
}

.collections .collection-container .selected-collection {
    box-shadow: 0px 4px 25px 0px #0000000D;
}

.collections .collection-container .collection a{
    
    width: 104px;
    height: 104px;
    background-color: var(--white);
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collections .collection-container .collection a img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.collections .collection-container .collection p {
    text-align: center;
    margin-top: 12px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #474747;
}

#container-destaque {
    background-color: var(--bg);
}

#container-destaque > h3 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-left: 9.8rem;
    padding: 2.3rem 0 0 6.25rem;
}

.infos {
    padding: 2.3rem 0 0 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.infos .info {
    margin-right: 3rem;
    background-color: #D8E3F2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 407px;
    height: 251px;
}

.infos .info div {
    margin-left: 40px;
}



.infos .info div p {
    color: #474747;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
    background-color: #E7FF86;
    width: 96px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 29px;
    margin-bottom: 0.6rem;
}

.infos .info div h4 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.compra:hover {
    color: var(--pink-btn);
    border: 3px solid var(--pink-btn);
}
.infos .info div .compra {
    position: relative;
    padding: 0.9rem 2.3rem;
    background-color: #ffffff;
    color: #C92071;
    z-index: 1;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.infos .info .container-img {
    position: relative;
    width: 96px;
    height: 32px;
    display: flex;
    align-items: center;
}

.infos .info .container-img img {
    position: absolute;
    right: 0;
    z-index: 0;
}

.cont-products {
    margin: 7.6rem 16.3rem 0 16.3rem;

}

.cont-products .info-shoe {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont-products .info-shoe h3 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.cont-products .info-shoe a {
    font-size: 18px;
    font-weight: 400;
    color: var(--pink-btn);
    text-decoration: none;
}


.cont-products .produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    
}

.cont-products .produtos .produto {
    margin: 1.25rem 0 1.25rem 0;
}

.cont-products .produtos .produto .container-produto {
    background-color: #FFFFFF;
    width: 18.25rem;
    height: 20rem;
    padding: 1.25rem 0 0 1.25rem;
    position: relative;
    
}

.cont-products .produtos .produto .container-produto  p {
    background-color: #E7FF86;
    color: #474747;
    border-radius: 29px;
    width: 6rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
}

.cont-products .produtos .produto .container-produto img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9.1rem;
    margin-left: -10rem;
}

.cont-products .produtos .produto .tipo-produto {
    margin-top: 1.1rem;
    font-size: 12px;
    font-weight: 700;
    color: #8F8F8F;
}

.cont-products .produtos .produto .nome-produto {
    font-size: 24px;
    font-weight: 400;
    color: #474747;
}

.cont-products .produtos .produto .preco {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cont-products .produtos .produto .preco .valor-inicial {
    text-decoration:line-through;
    font-size: 24px;
    font-weight: 400;
    color: #8F8F8F;
    margin-right: .5rem;
}

.cont-products .produtos .produto .preco .promocao {
    font-size: 24px;
    font-weight: 700;
    color: #1F1F1F;
}

.special-offer {
    width: 100%;
    display: flex;
    padding: 87px 0 0 129px;
}

.special-offer .offer-image {
    width: 466px;
    height: 466px;
    background: linear-gradient(#4200FF18, #FFFFFF00);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.special-offer .offer-image img {
    padding-right: 50px;
    padding-bottom: 80px
}

.special-offer .offer-description {
    margin: 20px 0 0 317px;
    width: 589px;
}

.special-offer .offer-description span {
    font-size: 14px;
    font-weight: 700;
    color: var(--pink-btn);
}

.special-offer .offer-description h4 {
    font-size: 48px;
    font-weight: 700;
    color: #474747;
    margin-top: 17px;
}

.special-offer .offer-description p {
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    width: 520px;
    margin: 20px 0 60px;
}

.special-offer .offer-description a {
    padding: 11px 56.8px;
    background: var(--pink-btn);
    color: var(--white);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    color: var(--white)
}

footer {
    background-color: var(--dark-gray);
    color: var(--white);
    width: 100%;
    margin: 0;
}

.footer-container {
    display: flex;
    align-items: flex-start;
    padding: 72px 100px;
}

.footer-container h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 26px;
}

.footer-container .about-us {
    width: 25%;
    margin-right: 205px;
}

.footer-container .about-us #footer-logo {
    width: 253px;
}

.footer-container .about-us p {
    max-width: 307px;
    margin-top: 35px;
    font-size: 16px;
    font-weight: 400;
}

.footer-container .about-us img:not(:first-of-type) {
    margin:40px 35px 0 0;
}

.footer-container .info {
    display: flex;
    flex-direction: column;
    margin-right: 102px;
}

.footer-container .info a {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
}

.footer-container .info a:not(:last-of-type) {
    margin-bottom: 18px
}

.footer-container .info a:hover {
    color: var(--pink-btn);
}

.footer-container .categories {
    display: flex;
    flex-direction: column;
    margin-right: 168px;
}

.footer-container .categories a {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
}

.footer-container .categories a:not(:last-of-type) {
    margin-bottom: 18px
}

.footer-container .categories a:hover {
    color: var(--pink-btn);
}

.footer-container .contact {
    width: 233px;
}

.footer-container .contact p:not(:first-of-type) {
    margin-top: 14px;
}

footer hr {
    margin: 0 95px 23px;
}

footer > p {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 22px;
}