@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

:root {
    --dark-gray: #1F1F1F;
    --input-grey: #F5F5F5;
    --light-grey: #CCCCCC;
    --light-grey-3: #F5F5F5;
    --white: #FFFFFF;
    --bg: #F9F8FE;
    --pink-btn: #C92071;    
}

footer {
    background-color: var(--dark-gray);
    color: var(--white);
    width: 100vw;
    margin: 0;
}

.footer-container {
    display: flex;
    align-items: flex-start;
    padding: 72px 100px;
}

.footer-container h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 26px;
}

.footer-container .about-us {
    width: 25%;
    margin-right: 205px;
}

.footer-container .about-us #footer-logo {
    width: 253px;
}

.footer-container .about-us p {
    max-width: 307px;
    margin-top: 35px;
    font-size: 16px;
    font-weight: 400;
}

.footer-container .about-us img:not(:first-of-type) {
    margin:40px 35px 0 0;
}

.footer-container .info {
    display: flex;
    flex-direction: column;
    margin-right: 102px;
}

.footer-container .info a {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
}

.footer-container .info a:not(:last-of-type) {
    margin-bottom: 18px
}

.footer-container .info a:hover {
    border-bottom: 1px solid var(--white);
}

.footer-container .categories {
    display: flex;
    flex-direction: column;
    margin-right: 168px;
}

.footer-container .categories a {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
}

.footer-container .categories a:not(:last-of-type) {
    margin-bottom: 18px
}

.footer-container .categories a:hover {
    border-bottom: 1px solid var(--white);
}

.footer-container .contact {
    width: 233px;
}

.footer-container .contact p:not(:first-of-type) {
    margin-top: 14px;
}

footer hr {
    margin: 0 95px 23px;
}

footer > p {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 22px;
}